<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From Aplod File</title></title>
</head>
<body>
    <h1>Aplod File</h1>
    <form action="/apload" method="post" enctype="multipart/form-data">
        <label>Name : <input type="text" name="name"></label>
        <label>Name : <input type="file" name="file"></label>
        <input  type="submit" value="Upload" ></input>
    </form>
</body>
</html>